.node {
    border: 0px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.pop {
    fill: url(#popGradient);
}

.rock {
    fill: url(#rockGradient);
}

.jazz {
    fill: url(#jazzGradient);
}

.hip-hop {
    fill: url(#hiphopGradient);
}

.classical {
    fill: url(#classicalGradient);
}

.electronic {
    fill: url(#electronicGradient);
}

.default {
    fill: url(#defaultGradient);
}

/* Optional: define more detailed gradient configurations as needed */
