<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Visualization</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        #treemap {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <h1>Playlist Visualization</h1>
    <div id="treemap"></div>
    <div id="song-list"></div>

    <script>
    // We'll add the D3.js code here to create the treemap
    </script>
</body>
</html>
